{% extends 'base.html.twig' %}

{% block title %}Usager index{% endblock %}

{% block main %}
    {% block navbar %}
        {% include"navbar.html.twig" %}
    {% endblock %}
        <div class="main-div">
            <!-- debut du block content !-->
            <div class="col-8 offset-2">
                <div class="card">
                    <div class="card-header">
                        <h3>{% trans %}Mon Compte{% endtrans %}</h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-sm table-hover">
                            <tbody>
                            <tr>
                                <th>{% trans %}N° Client{% endtrans %}</th>
                                <td>{{ usager.getId }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Nom{% endtrans %}</th>
                                <td>{{ usager.getNom }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Prénom{% endtrans %}</th>
                                <td>{{ usager.getPrenom }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Email{% endtrans %}</th>
                                <td>{{ usager.email }}</td>
                            </tr>
                            <tr>
                                <th>{% trans %}Activité{% endtrans %}</th>
                                <td>
                                    <a class="btn btn-primary" href="{{ path('list_commande_usager') }}">
                                        <span class="badge badge-light">{{ nbCommandes | length }}</span> {% trans %}Commande(s){% endtrans %}
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- fin du block content !-->
        </div>

    {% endblock %}
